* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "General Sans";
}
html,body{
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
}
#hero {
    width: 100%;
    height: 100vh;
    background-color: black;
}
#nav {
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
